{% extends 'base.html' %}

{% block bodyjavascript %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        var elements = stripe.elements();

        var elements = stripe.elements();
        var style = {
          base: {
            color: "#32325d",
          }
        };

        var card = elements.create("card", { style: style, hidePostalCode : true });
        card.mount("#card-element");

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
          // Insert the token ID into the form so it gets submitted to the server
          var form = document.getElementById('payment-form');
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', token.id);
          form.appendChild(hiddenInput);

          // Submit the form
          form.submit();
        }

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Add a new card</h1>
    <form id="payment-form" method="post" action="{% url 'orders:add_card' %}">
        {% csrf_token %}
        <div id="card-element">
        <!-- Elements will create input elements here -->
        </div>

        <!-- We'll put the error messages in this element -->
        <div id="card-errors" role="alert"></div>

        <button id="submit">Submit Payment</button>
    </form>
{% endblock %}