{% load cart %}

{% comment %}{% cart_data as my_cart %}{% endcomment %}

<nav style="display: flex; justify-content: space-between">
    <div>
        <a href="/">Homepage</a>
        <a href="{% url 'products:all_products' %}">Products</a>
        <a href="{% url 'stores:all_stores' %}">Stores</a>
        <a href="{% url 'orders:cards' %}">Cards</a>
        {% comment %}
        <a href="{% url 'cart' %}" title="Total price {{ my_cart.total_price }} RON">Cart ({{ my_cart.total_products }})</a>
        {% endcomment %}
        {% cart_link %}
    </div>
    <div>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href={% url 'admin:index' %}>Admin</a>
            {% endif %}
            <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </div>
</nav>